openapi: 3.0.3
info:
  title: StoneX Clearing Accounts FX Rates API
  description: The StoneX Clearing REST API provides programmatic access to accounts, trading, and document management for institutional clearing clients. Uses OAuth 2.0 authentication with JWT tokens (10-hour lifetime). Available in UAT and production environments.
  version: '1.0'
  contact:
    url: https://docs.clearing.stonex.com/
servers:
- url: https://api.clearing.stonex.com
  description: StoneX Clearing Production
- url: https://api.clearing.uat.stonex.com
  description: StoneX Clearing UAT (Test)
security:
- BearerAuth: []
tags:
- name: FX Rates
  description: Foreign exchange rate queries.
paths:
  /rates:
    get:
      operationId: getFxRates
      summary: Get FX Rates
      description: Get indicative foreign exchange rates for supported currency pairs.
      tags:
      - FX Rates
      parameters:
      - name: sell_currency
        in: query
        required: true
        schema:
          type: string
        description: Source currency (ISO 4217 code).
      - name: buy_currency
        in: query
        required: true
        schema:
          type: string
        description: Target currency (ISO 4217 code).
      - name: amount
        in: query
        required: false
        schema:
          type: number
        description: Amount to convert.
      responses:
        '200':
          description: FX rate returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FxRate'
        '401':
          description: Unauthorized.
        '404':
          description: Currency pair not supported.
components:
  schemas:
    FxRate:
      type: object
      properties:
        sell_currency:
          type: string
          description: Source currency code.
        buy_currency:
          type: string
          description: Destination currency code.
        rate:
          type: number
          description: Indicative exchange rate.
        timestamp:
          type: string
          format: date-time
          description: Rate timestamp.
        sell_amount:
          type: number
          description: Source amount (if provided).
        buy_amount:
          type: number
          description: Equivalent destination amount.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT token from /auth/token endpoint. Valid for 10 hours.
