openapi: 3.2.0
info:
  title: StoneX Payments FX Rates API
  description: 'The StoneX Payments REST API enables cross-border payment processing in 140+ currencies with local currency acceptance and settlement. Uses Bearer token authentication over HTTPS with TLS 1.3. ISO standards are used throughout: ISO 4217 currency codes, ISO 3166 country codes, ISO 8601 timestamps.'
  version: '1.0'
  contact:
    url: https://docs.payments.stonex.io/
servers:
- url: https://fx-api.payments.stonex.com
  description: StoneX Payments Production
- url: https://api.sandbox.payments.stonex.com
  description: StoneX Payments Sandbox (UAT)
security:
- BearerAuth: []
tags:
- name: FX Rates
  description: Foreign exchange rate queries.
paths:
  /rates:
    get:
      operationId: getFxRates
      summary: Get FX Rates
      description: Get indicative foreign exchange rates for supported currency pairs.
      tags:
      - FX Rates
      parameters:
      - name: sell_currency
        in: query
        required: true
        schema:
          type: string
        description: Source currency (ISO 4217 code).
      - name: buy_currency
        in: query
        required: true
        schema:
          type: string
        description: Target currency (ISO 4217 code).
      - name: amount
        in: query
        required: false
        schema:
          type: number
        description: Amount to convert.
      responses:
        '200':
          description: FX rate returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FxRate'
        '401':
          description: Unauthorized.
        '404':
          description: Currency pair not supported.
components:
  schemas:
    FxRate:
      type: object
      properties:
        sell_currency:
          type: string
          description: Source currency code.
        buy_currency:
          type: string
          description: Destination currency code.
        rate:
          type: number
          description: Indicative exchange rate.
        timestamp:
          type: string
          format: date-time
          description: Rate timestamp.
        sell_amount:
          type: number
          description: Source amount (if provided).
        buy_amount:
          type: number
          description: Equivalent destination amount.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT token obtained from the /auth/token endpoint. Valid for 10 hours.
